@import 'reset';
@import 'variables/global';
@import 'themes/dark';
@import '@/shared/assets/fonts/Montserrat/font';
@import "../../shared/styles/mixins";



body {
  background: var(--bg-primary);
  color: var(--text-color);
  font-family: var(--font-family-main);
  font-size: var(--font-size-m);
  scrollbar-gutter: stable;
}

#app {
  position: relative;
  overflow: hidden;
}

.container {
  width: 1680px;
  margin: 0 auto;

  @include laptop {
    width: 1400px;
  }

  @include mobile {
    width: 100%;
    padding: 0 20px;
  }
}
