:root {
  --font-family-main: Montserrat, sans-serif;

  --font-size-s: 14px;
  --font-size-m: 18px;
  --font-size-l: 24px;
  --font-size-xl: 32px;
  --font-size-xxl: 48px;

  --navbar-height: 100px;

  --modal-z-index: 100;
  --overlay-background:rgb(0 0 0 / 60%);
  --transition-duration: 300ms;
  --transition-opacity: opacity var(--transition-duration);
}
