@import "@/shared/styles/mixins";
.task {
  width: 100%;
  height: 160px;
  position: relative;
}

.text_info {
  width: 455px;

}

.icon {
  width: 58px;
  height: 50px;


}

.mobile_btn {
  width: 42px;
  border-radius: 0 15px 15px 0;
}

.mobile_text {
  padding: 15px 10px;
}

@include mobile {
  .task {
    height: auto;
  }
  .text_info {
    width: 245px;
  }
  .icon {
    width: 30px;
    height: 30px;
  }
}