swiper-container::part(bullet) {
  width: 30px;
  height: 30px;
  background-color: #505050;
}

swiper-container::part(bullet-active) {
  width: 30px;
  height: 30px;
  background-color: #21a049;
}

swiper-container::part(container) {
  width: 100%;
}



/*swiper-container::part(button-prev) {*/
/*  left: 0;*/
/*  width: 99px;*/
/*  height: 168px;*/
/*  border-radius: 0px 22.5px 22.5px 0px;*/
/*  background: rgba(37, 37, 37, 0.7) url('@/shared/assets/icons/arrow_left.svg');*/
/*}*/

swiper-container::part(button-prev) svg {
  display: none;
}
