:root {
  // Text
  --text-color: #FFF;

  --bg-primary: #151515;

  --hint-color: rgba(255, 255, 255, 0.5);
  --hint-color-muted: rgba(255, 255, 255, 0.2);

  --gray-primary: #373737;
  --gray-secondary: #252525;

  --accent-color: #21A049;
  --accent-color-muted: rgba(33, 160, 73, 0.7);
  --accent-color-super-muted: rgba(33, 160, 73, 0.7);
}